<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>http://files.git.oschina.net/group1/M00/00/A1/fMqNk1X5CW-AHBKfAK3uvgwC4Mc931.ipa?token=e9e9ee972ed417613babd9d4a451e34c&ts=1442384218</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://files.git.oschina.net/group1/M00/00/A0/fMqNk1X44RGAPJkbAAAlM1EVHx8258.png?token=602f56370014dce040b32c8f51733fa1&ts=1442384366</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://files.git.oschina.net/group1/M00/00/A0/fMqNk1X44KaAICKoAAAa_c3woO0809.png?token=4ed2459dbf0590df7685ae7a4b94f3e3&ts=1442384218</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.appstar.cn.MobileWorld-ios8</string>  
                <key>bundle-version</key>  
                <string>1.0.1</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>手机汇杂志客户端</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>  
